body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgb(182, 238, 252), rgb(218, 190, 245));

}

.achievements-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-image:linear-gradient(rgb(132, 230, 255), rgb(200, 143, 253));
    box-shadow: 0 24px 28px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.achievement {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

img {
    width: 250px;
    height:250px;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 22px;
    color: #747373;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
}
